{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "code": 250
      }
    ]
  },
  "globals": {
    "fetch": true,
    "__DEV__": true
  }
}
